<h1>New journal_entry</h1>

<% form_for(@journal_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :narration %><br />
    <%= f.text_field :narration %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', journal_entries_path %>